@import 'tailwindcss';

@keyframes neon-reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.animate-neon-reveal {
  animation: neon-reveal 2s ease-in-out forwards;
}
